/* main layout */
h6 {
    margin-left:27px;
    /*position:absolute;*/
    z-index:2;
    background:url(../images/logo_img.png) 0 0 no-repeat;
    height:95px;
    padding-left:191px;
    padding-top:28px
}
#logo {
    display:block;
    background:url(../images/logo1.png) 0 0 no-repeat;
    width:300px;
    height:48px;
    text-indent:-9999px;
    /*position: fixed;*/
}
#icons {
    float:right;
    padding:34px 29px 0 0
}
